.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
   



}
.champs{
    border:1px gray solid;
  
    margin-bottom: 1rem;
    border-radius: 10px;
    text-align: center;
    height: 3rem;
    width: 40%;
}
.bouton{
    border: 1px solid ;
    border-radius: 10px;
    background-color: blue;
    color :white;
    font-weight: bold;
    height: 2rem;
    width: 40%;

}