.container{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100%;
   }
   .form{
     display: flex;
     flex-direction: column;
     justify-content: center;
    
   }
   .champs{
     width:40%;
     height: 3rem;
     border:1px solid grey;
     margin-bottom: 2rem;
     border-radius: 10px;
     text-align: center;
   }
   .bouton{
     background-color: blue;
     color: white;
     font-weight: bold;
     width: 7rem;
     height: 3rem;
     border-radius: 10px;
     margin-left: 10rem;
   }
   .errorMessage{
    color:red;
    
   }